<dialog-wrapper [title]="'dialogs.gameJoin.title' | t">
    <p class="info-text">
        {{ 'dialogs.gameJoin.description' | t }}
    </p>
    <form [formGroup]="form">
        <div class="form-field">
            <label for="joinCode">{{ 'dialogs.gameJoin.joinCode' | t }}</label>
            <input id="joinCode" formControlName="joinCode" type="text" [placeholder]="'dialogs.common.enterText' | t" />
        </div>
    </form>
    <text-button dialog-action [text]="'dialogs.gameJoin.join' | t" (clicked)="confirm()" [disabled]="form.invalid"></text-button>
    <text-button dialog-action [text]="'dialogs.common.cancel' | t" (clicked)="close()"></text-button>
</dialog-wrapper>