<dialog-wrapper title="Join Game">
    <p class="info-text">
        Join an existing game by entering the game code provided by the host. Make sure to enter the code correctly to join the desired game.
    </p>
    <form [formGroup]="form">
        <div class="form-field">
            <label for="joinCode">Join code</label>
            <input id="joinCode" formControlName="joinCode" type="text" placeholder="Enter text" />
        </div>
    </form>
    <text-button dialog-action text="Join" (clicked)="confirm()" [disabled]="form.invalid"></text-button>
    <text-button dialog-action text="Cancel" (clicked)="close()"></text-button>
</dialog-wrapper>