<div class="home-page-main-container">
    <div class="top-controls">
        <sound-toggle-button></sound-toggle-button>
        <language-menu class="top-language-menu"></language-menu>
    </div>
    <p class="app-version">v.{{ appVersion }}</p>

    <h1 class="app-title">Amulet</h1>
    @if(myGame()) {
        <p class="running-game-label">{{ 'home.runningGameLabel' | t }}</p>
        <hr class="running-game-separator">
        <h2 class="running-game-title">"{{ myGame()?.name }}"</h2>
        @if (myGame()?.status === 'waiting') {
            <p class="info-text">{{ 'home.inGameHint' | t }}</p>
        } @else {
            <p class="info-text">{{ 'home.inGameResumeHint' | t }}</p>
        }
    } @else {
        <p class="info-text">{{ 'home.noGame' | t }}</p>
    }
    @if (!isMobile()) {
        <div class="actions-container">
            @if (!myGame()) {
                <text-button
                    [text]="'home.actions.newGame' | t"
                    iconUrl="./icons/play_arrow_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                    (clicked)="openNewGameDialog()"
                ></text-button>
                <text-button
                    [text]="'home.actions.joinGame' | t"
                    iconUrl="./icons/join_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                    (clicked)="openJoinGameDialog()"
                ></text-button>
                <text-button [text]="'home.actions.disconnect' | t" iconUrl="./icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" (clicked)="authService.logout()"></text-button>
            } @else {
                <text-button
                    [text]="'home.actions.play' | t"
                    [iconUrl]="isOwner() && myGame()?.status !== 'waiting' ? './icons/play_arrow_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg' : './icons/group_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg'"
                    (clicked)="onPlay()"
                ></text-button>
                <text-button
                    [text]="'home.actions.abandon' | t"
                    [iconUrl]="isOwner() ? './icons/delete_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg' : './icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg'"
                    (clicked)="onAbandon()"
                ></text-button>
                <text-button [text]="'home.actions.disconnect' | t" iconUrl="./icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" (clicked)="authService.logout()"></text-button>
            }
        </div>
    } @else {
        <div class="mobile-actions-container">
            <action-menu
                [text]="'home.actions.menu' | t"
                iconUrl="./icons/menu_20dp_E3E3E3_FILL1_wght400_GRAD0_opsz20.svg"
            >
                @if (!myGame()) {
                    <text-button
                        [text]="'home.actions.newGame' | t"
                        iconUrl="./icons/play_arrow_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                        (clicked)="openNewGameDialog()"
                    ></text-button>
                    <text-button
                        [text]="'home.actions.joinGame' | t"
                        iconUrl="./icons/join_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                        (clicked)="openJoinGameDialog()"
                    ></text-button>
                    <text-button
                        [text]="'home.actions.disconnect' | t"
                        iconUrl="./icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                        (clicked)="authService.logout()"
                    ></text-button>
                } @else {
                    <text-button
                        [text]="'home.actions.play' | t"
                        [iconUrl]="isOwner() && myGame()?.status !== 'waiting' ? './icons/play_arrow_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg' : './icons/group_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg'"
                        (clicked)="onPlay()"
                    ></text-button>
                    <text-button
                        [text]="'home.actions.abandon' | t"
                        [iconUrl]="isOwner() ? './icons/delete_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg' : './icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg'"
                        (clicked)="onAbandon()"
                    ></text-button>
                    <text-button
                        [text]="'home.actions.disconnect' | t"
                        iconUrl="./icons/logout_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg"
                        (clicked)="authService.logout()"
                    ></text-button>
                }
            </action-menu>
        </div>
    }
</div>