<dialog-wrapper [title]="'dialogs.eventLog.title' | t">
    <div class="events-log-list">
        @if (logs.length === 0) {
            <p class="info-text">{{ 'dialogs.eventLog.empty' | t }}</p>
        } @else {
            @for (log of logs; track log.id) {
                <div class="event-log-item">
                    <p class="event-log-message">{{ messageFor(log) }}</p>
                    <p class="event-log-meta">{{ formatTimestamp(log) }}</p>
                </div>
            }
        }
    </div>

    <text-button dialog-action [text]="'dialogs.common.close' | t" (clicked)="close()"></text-button>
</dialog-wrapper>
