<dialog-wrapper [title]="'dialogs.gameSettings.title' | t">
    <p class="info-text">
        {{ 'dialogs.gameSettings.description' | t }}
    </p>
    <form [formGroup]="form">
        <div class="form-field">
            <label for="name">{{ 'dialogs.common.name' | t }}</label>
            <input id="name" formControlName="name" type="text" [placeholder]="'dialogs.common.enterText' | t" />
        </div>
        <div class="form-field">
            <label for="maxPlayers">{{ 'dialogs.common.maxPlayers' | t }}</label>
            <input id="maxPlayers" formControlName="maxPlayers" type="number" inputMode="numeric"
                [placeholder]="'dialogs.common.enterNumber' | t" min="1" [max]="maxPlayers" />
            <p class="info-text">{{ 'dialogs.common.maxPlayersAllowed' | t: { maxPlayers: maxPlayers } }}</p>
        </div>
    </form>
    <text-button dialog-action [text]="'dialogs.gameSettings.save' | t" (clicked)="confirm()" [disabled]="form.invalid"></text-button>
    <text-button dialog-action [text]="'dialogs.common.cancel' | t" (clicked)="close()"></text-button>
</dialog-wrapper>