@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root {
    --fg-color: white;
    --bg-color: black;

    --overlay-bg-color: black;
    --overlay-fg-color: white;
    --overlay-border: thick double white;

    --ok-color: #8ac926;
    --good-color: goldenrod;
    --neutral-color: #6de7d6;
    --bad-color: crimson;
    --magic-color: rgb(0, 132, 255);
    --coin-color: goldenrod;
    --coin-icon-url: url("/icons/toll_20dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg");

    --warning-color: goldenrod;
    --error-color: crimson;
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    scrollbar-width: none;
    --webkit-scrollbar: none;
    text-decoration: none;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100%;
}

body {
    background-color: var(--bg-color);
    // background: linear-gradient(90deg, #060042 0%, #0000ca 100%);
    color: var(--fg-color);
    font-size: 16px;
}

input,
textarea,
select {
    font-size: 16px;
}

p.info-text {
    font-size: .7rem;
    color: #E3E3E3;
    line-height: 1.5;
}

.dialog-backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;

    &>.form-field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &>label {
            font-size: .75rem;
        }

        &>input {
            background-color: transparent;
            border: 1px solid var(--fg-color);
            color: var(--fg-color);
            padding: 8px 12px;
            font-size: 16px;
        }

        &>input:focus {
            outline: none;
        }
    }
}

.flashing-text {
    animation: flashing 1s infinite;
}

.coin-icon {
    --coin-icon-size: 14px;
    display: inline-block;
    width: var(--coin-icon-size);
    height: var(--coin-icon-size);
    background-color: var(--coin-color);
    -webkit-mask-image: var(--coin-icon-url);
    mask-image: var(--coin-icon-url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    flex: 0 0 auto;
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}